*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo';
}

body{
background:#f5f8fb;
}

/* NAV */
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#003b4d;
color:white;
}

.logo{
height:50px;
}

.links a{
color:white;
margin:0 10px;
text-decoration:none;
}

/* HERO */
header{
height:100vh;
background:url("assets/hero.jpg") center/cover;
position:relative;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.5);
}

.hero{
position:relative;
}

.hero img{
width:140px;
}

.btn{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#00b4d8;
color:white;
border-radius:20px;
text-decoration:none;
}

/* MENU */
section{
padding:60px 10%;
}

#menuContainer{
display:grid;
gap:20px;
}

.category{
background:white;
padding:20px;
border-radius:15px;
}

.item{
display:flex;
justify-content:space-between;
padding:10px 0;
border-bottom:1px solid #eee;
}

.item img{
width:70px;
height:70px;
object-fit:cover;
border-radius:10px;
margin-left:10px;
}

.item-left{
display:flex;
align-items:center;
gap:10px;
}

/* BRANCHES */
.branch{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:15px;
}
